* {
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(64, 41, 133, 0.5);
}
#container {
    width: 70%;
    text-align: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    padding: 50px;
    background-color: white;
}
#newGame {
    font-size: 20px;
    padding: 10px;
    border-radius: 100px;
    background-color: rgba(64, 41, 133, 0.5);
    border: 5px solid rgba(64, 41, 133, 0.5);
    color: white;
    margin-top: 50px;
    cursor: pointer;
}
table {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}
th, td {
    width: 50%;
}
td {
    height: 200px;
}
#options {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#options img{
    width: 150px;
    border-radius: 50%;
}
#options img:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}